$color-primary: #ffeee1;
$color-additional: #173a56;
$color-background: #d7d7d7;
$color-link: #2776af;
$color-link-active: #094c7c;
// 
$max-content-width: 1440px;
$content-width: 1200px;
$media-laptop: 992px;
$tablet-width: 768px;
$tablet-small-width: 556px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;