$color-primary: #ffeee1;
$color-additional: #173a56;
$color-background: #d7d7d7;
$color-link: #2776af;
$color-link-active: #094c7c;
// 
$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;