.product__link {
    display: flex;
    flex-direction: column;
    flex-basis: 27%;
    text-align: center;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 35%);
    margin-bottom: 6rem;
    border-radius: 3%;
    color: #000;
    justify-content: space-between;
    img {
        width: 70%;
        padding: 2rem;
        margin: 0 auto;
    }
    @include media-laptop {
        flex-basis: 30%;
    }
}

.product__card_title {
    @include font(2rem, normal);
    text-transform: uppercase;
}

.product__card_info {
    background-color: $color-background;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.product__card_text {
    @include font(1.7rem, 1, normal);
    padding: 15px 25px;
}

.card_img {
    // height: 100%;
    flex-basis: 100%;
    padding: 1rem;
}

.card__info {
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    flex-basis: 30%;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 35%);
    margin-bottom: 5rem;
    border-radius: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px;
    img {
        // height: 100%;
        max-width: 250px;
        // padding: 15px 0;
    }
    @include media-mobile {
        flex-basis: 100%;
    }
    @include media-mobilesmall {
        flex-basis: 100%
    }
}

.product__info_title {
    @include font(1.9rem, 1, normal)
}

.product__card_description {
    @include font(2.2rem, 1, normal);
}

.product__card_price {
    @include font(3rem, 1, normal);
    color: red;
}

.character {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    bottom: -999px;
    transition: .4s;
}

.active {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    bottom: 0;
    transition: .4s;
}

.character_title {
    font-size: 2.8rem;
}

.character__list {
    text-align: left;
    padding-left: 2rem;
    font-size: 2rem;
}

.character__list_item {
    margin-bottom: 1rem;
}

.character_button {
    padding: 15px;
    position: absolute;
    right: 5%;
    top: 3%;
    z-index: 15;
    cursor: pointer;
    background: url(./../img/icons/down.png);
    background-size: cover;
    border: none;
    transition: .4s;
}

.cgange_btn {
    background: url(./../img/icons/up.png);
    background-size: cover;
}