.company {
    background-color: $color-background;
}

.compani__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        width: 100%;
    }
}

.compani_img {
    flex-basis: 27%;
}