.header {
    background: $color-background;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-basis: 60%;
}

.header__logo {
    img {
        width: 20%;
        @include media-mobile {
            width: 40%;
        }
    }
}

.header__nav {
    flex-basis: 33%;
}

.header__img {
    @include media-mobile {
        display: none;
    }
}