.header {
    background: $color-background;
    @include media-laptop {
        position: sticky;
        top: 0;
        z-index: 15;
    }
    // @include media-laptop {
    //     position: relative;
    // }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-laptop {
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }
}

.header_visible {
    overflow: visible;
}

.logo {
    flex-basis: 15%;
    padding: 15px 0;
    @include media-laptop {
        flex-basis: 20%;
    }
}

.header__logo {
    img {
        width: 100%
    }
}

.header__img {
    @include media-mobile {
        display: none;
    }
}

.header__contact {
    display: none;
    color: #2776af;
    align-items: center;
    @include media-laptop {
        display: flex;
        font-size: 3.2rem;
        flex-basis: 50%;
        img {
            width: 4rem;
            margin-right: 1.5rem;
        }
    }
    @include media-mobile {
        display: flex;
        font-size: 1.8rem;
        flex-basis: 60%;
        img {
            width: 3rem;
            margin-right: 1rem;
        }
    }
}