.header__nav {
    flex-basis: 60%;
    @include media-tablet {
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        height: 70vh;
        margin-right: -350px;
    }
}

.nav {
    margin-right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    z-index: 5;
}

.header__nav_list {
    display: flex;
    justify-content: space-between;
    @include font(2.6rem);
    padding: 0;
    a {
        color: $color-link;
        &:hover {
            color: $color-link-active;
            @extend %transition;
        }
    }
    @include media-laptop {
        flex-direction: column;
        margin-left: 3rem;
        padding-top: 10rem;
        padding-right: 7rem;
    }
}

.header__nav_list-item {
    @include media-tablet {
        @include font(3rem, 5rem)
    }
}