.header__nav {
    flex-basis: 52%;
    @include media-laptop {
        flex-basis: 30%;
    }
    @include media-tablet {
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: absolute;
        right: 0;
        top: -800px;
        background: #fff;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
    @include media-laptop-landscape {
        flex-basis: 25%;
        box-shadow: none;
    }
}

.nav {
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 5;
    display: block;
}

.header__nav_list {
    display: flex;
    justify-content: space-between;
    @include font(2.6rem);
    padding: 0;
    a {
        color: $color-link;
        &:hover {
            color: $color-link-active;
            @extend %transition;
        }
    }
    @include media-laptop {
        flex-direction: column;
        padding: 3rem 5rem 3rem 3rem;
    }
    @include media-laptop-landscape {
        padding: 1rem 0;
    }
}

.header__nav_list-item {
    @include media-tablet {
        @include font(3rem, 5rem)
    }
    @include media-laptop-landscape {
        padding: .7rem 0;
    }
}