.product {
    padding-bottom: 10rem;
}

.product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
    }
}